<!-- home.component.html -->



<div class="container mt-4">
    <p> </p>
    <h2 class="description mt-3">Bienvenue dans votre application</h2>
    <p> </p>
    <img src="../../assets/Accueil.jpeg" alt="Image d'accueil" class="img-fluid" />
    <p> </p>
    <button routerLink="/wallet_to_another" class="btn btn-animated">Effectuer un transfert</button>
  <p> </p>
  <p class="description mt-3">
    Explorez un moyen sécurisé de réaliser vos transferts financiers ici avec nous !
  </p>
  
  </div>
  